nav li > a {
    @apply hover:text-blue-800
}

.landing-image{
    width: 50rem;
}

section .features-image > img {
    height: 20rem;
}

.features-content ul > li::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: cover;
    background-image: url('/tick.svg');
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
}

.features-content ul > li:not(:first-child) {
    margin-top: 1.5rem;
}

.pricing-logo {
    width: 6rem;
}

  